@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;600&display=swap");

body {
  margin: 0;
  font-family: Inconsolata;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  font-size: 600px;
  caret-color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
